<p>createpolicy works!</p>

<br/><br/>														
<div class="col-md-6 col-md-offset-2">														
  <h2>Add User</h2>														
  <br/>														
  <form [formGroup]="addPolicyForm" (ngSubmit)="onSubmit()">														
<!--											
    <div class="form-group">														
      <label for="lastName">Last Name:</label>														
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">														
      <div *ngIf="submitted && addForm.controls.lastName.errors" class="error">														
          <div class="text-danger" *ngIf="addForm.controls.lastName.errors.required">LastName is required</div>														
        </div>														
    </div>														
-->													
    <div class="form-group">														
      <label for="policyPremium">Policy Premium:</label>														
      <input type="policyPremium" formControlName="policyPremium" placeholder="policyPremium" name="policyPremium" class="form-control" id="policyPremium">														
      <div *ngIf="submitted &&addPolicyForm.controls.policyPremium.errors" class="error">														
          <div class="text-danger" *ngIf="addPolicyForm.controls.policyPremium.errors.required">Policy Premium is required</div>														
        </div>														
    </div>		

    <div class="form-group">														
      <label for="accountNumber">Account Number:</label>														
      <input type="accountNumber" formControlName="accountNumber" placeholder="accountNumber" name="accountNumber" class="form-control" id="accountNumber">														
      <div *ngIf="submitted &&addPolicyForm.controls.accountNumber.errors" class="error">														
          <div class="text-danger" *ngIf="addPolicyForm.controls.accountNumber.errors.required">Account Number is required</div>														
        </div>														
    </div>
    														
    <button class="btn btn-success">Submit</button>&nbsp; &nbsp;														
    <button class="btn btn-danger" type="reset">Cancel</button>														
													
    <br/><br/>											
      <div *ngIf="invalidLogin" class="error">											
        <div class="text-danger">Invalid Account Number</div>											
      </div>														
														
    <br/><br/>														
  </form>														
</div>		