
<body id="body-pd">
   
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> <a href="" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Menu</span> </a>
                <div class="nav_list"> 
                    <br>
                    <a routerLink="/admin/createuser" class="nav_link "> <i class='bx bx-user-plus' ></i> <span class="nav_name">User Creation</span> </a> 
                    <a routerLink="/admin/createaccount" class="nav_link"> <i class='bx bxs-user-account'></i><span class="nav_name">Create Account</span> </a> 
                    <a routerLink="/admin/createpolicy" class="nav_link"> <i class='bx bx-add-to-queue' ></i> <span class="nav_name">Create New Policy</span> </a> 
                    <a routerLink="/admin/viewpolicy" class="nav_link"> <i class='bx bx-library'></i> <span class="nav_name">View Policy</span> </a> 
                    <a routerLink="/admin/createclaim" class="nav_link"> <i class='bx bx-list-plus'></i> <span class="nav_name">Claim Creation</span> </a> 
                    <a routerLink="/admin/viewclaim" class="nav_link"> <i class='bx bxs-report'></i> <span class="nav_name">View Claim</span> </a> 

                </div>
            </div> 
            <a href="login" class="nav_link"> 
                <i class='bx bx-log-out nav_icon'></i> 
                <span class="nav_name">SignOut</span> 
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <!-- <h4>Main Components</h4> -->
        
        <router-outlet></router-outlet>

    </div>
    <!--Container Main end--> 
</body>

    <!-- Footer Open -->
    <footer><strong>This site is copyright &copy; to Capgemini.                           
        All rights are reserved here ..!</strong>
    </footer>
    <!-- Footer Close -->