
<body id="body-pd">
   
  <div class="l-navbar" id="nav-bar">
      <nav class="nav">
          <div> <a routerLink="" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Menu</span> </a>
              <div class="nav_list"> 
                  <br>
                  <a href="#home" class="nav_link "> <i class='bx bx-home-smile'></i> <span class="nav_name">Home</span> </a> 
                  <a href="#aboutUs" class="nav_link"> <i class='bx bx-info-circle' ></i> <span class="nav_name">About Us</span> </a> 
                  <a href="#services" class="nav_link"> <i class='bx bx-brain'></i> <span class="nav_name">Services</span> </a> 
              </div>
          </div> 
          <a href="login" class="nav_link"> 
            <i class='bx bx-log-in'></i>
              <span class="nav_name">Login</span> 
          </a>
      </nav>
  </div>
  <!--Container Main start-->
  <div class="height-100 bg-light">
      <!-- <h4>Main Components</h4> -->

      
      <section class="containers home" id="home">
  
        <div class="content act" >
          <h1>This<br><span>Claim Insurance Policy Website</span></h1>
          <p></p>
          <a href="#">Button</a>
        </div>

        <!-- <video autoplay muted loop id="myVideo">
          <source src="src\assets\video\bg-vid.mp4" type="video/mp4">
        </video> -->
        
      </section>
      <br>
      <section class="containers aboutUs" id="aboutUs">
  
        <div class="content act" >
          <h1>About Us</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vero nostrum obcaecati et eligendi quae vitae atque cupiditate commodi fugit id, eaque blanditiis porro reiciendis iusto expedita quia officia laboriosam!
          </p>
          <!-- <a href="#">Read More</a> -->
        </div>
      </section>
      <br>
      <section class="containers services" id="services">
  
        <div class="content act" >
          <h1>Services</h1>
          <p></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At cupiditate quo ab, necessitatibus aperiam deleniti dolorum ut numquam voluptatibus libero iusto ipsam non eveniet nostrum accusamus molestiae nobis fuga veritatis!
          </p>>
        </div>

        
      </section>
      
      

  </div>
  <!--Container Main end-->

      

     
  
</body>