<!-- <head>
  <meta http-equiv="refresh" content="0">
</head> -->

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-box form-group">
      <h1>Login</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="User Name" class="form-control" formControlName="username" id="username">                 
          </div>
          <div *ngIf="submitted && loginForm.controls.username.errors" class="error">                     
            <div class="text-danger" *ngIf="loginForm.controls.username.errors.required">Username Is Required</div>  
      </div>
  
      <div class="textbox form-group">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" class="form-control" formControlName="password" id="pwd">
                             
          </div>
          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">                     
            <div class="text-danger" *ngIf="loginForm.controls.password.errors.required">Password Is Required</div>
      </div>
      <button class="btn btn-success">Login</button> &nbsp; &nbsp;
    </div>
