@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #0070AD;
    --first-color-light: #a1dbec;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}
*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    
    
    
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
    display: flex
    
}

.header_name{
    color:#4caf50;
    font-weight: bold
}

.header_logo{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    
    /* color:#4723D9;
    font-weight: bold;
    font-family: Aquire , Helvetica, sans-serif; */
    

}

.header_name{
    color:#0070AD;
    font-weight: bold
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    
}

footer {
    padding:1%;
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--white-color);
    color: rgb(167, 4, 4);
    text-align: center;
  
 }
 @media screen and (min-width: 768px) {


    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

}