
<body id="body-pd">
   
  <div class="l-navbar" id="nav-bar">
      <nav class="nav">
          <div> <a routerLink="" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Menu</span> </a>
              <div class="nav_list"> 
                  <br>
                  <a href="/home" class="nav_link "> <i class='bx bx-home-smile'></i> <span class="nav_name">Home</span> </a> 
                  <a href="/aboutus" class="nav_link active"> <i class='bx bx-info-circle' ></i> <span class="nav_name">About Us</span> </a> 
                  <a href="/service" class="nav_link"> <i class='bx bx-brain'></i> <span class="nav_name">Services</span> </a> 
              </div>
          </div> 
          <a href="login" class="nav_link"> 
            <i class='bx bx-log-in'></i>
              <span class="nav_name">Login</span> 
          </a>
      </nav>
  </div>
  <!--Container Main start-->
  <div class="containers">
      <!-- <h4>Main Components</h4> -->

      
      <section class="containers home" id="home">
  
        <div class="content act" >
          <h1>About Us<br><span>something</span></h1>
          <p></p>
          <a href="#">Button</a>
        </div>

        <!-- <video autoplay muted loop id="myVideo">
          <source src="src\assets\video\bg-vid.mp4" type="video/mp4">
        </video> -->
        
      </section>

      

  </div>
  <!--Container Main end-->



     
  
</body>

    <footer><strong>This site is copyright &copy; to Capgemini.                           
        All rights are reserved here ..!</strong>
    </footer>
    