
<body id="body-pd">
   
  <div class="l-navbar" id="nav-bar">
      <nav class="nav">
          <div> <a routerLink="" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Menu</span> </a>
              <div class="nav_list"> 
                  <br>
                  <a href="/home" class="nav_link "> <i class='bx bx-home-smile'></i> <span class="nav_name">Home</span> </a> 
                  <a href="/aboutus" class="nav_link"> <i class='bx bx-info-circle' ></i> <span class="nav_name">About Us</span> </a> 
                  <a href="/service" class="nav_link active"> <i class='bx bx-brain'></i> <span class="nav_name">Services</span> </a> 
              </div>
          </div> 
          <a href="login" class="nav_link"> 
            <i class='bx bx-log-in'></i>
              <span class="nav_name">Login</span> 
          </a>
      </nav>
  </div>

  <div class="container bootstrap snippets bootdey service">
  <section id="services" class="current">
      <div class="services-top">
          <div class="container bootstrap snippets bootdey">
              <div class="row text-center">
                  <div>
                      <h2>What We Offer</h2>
                      <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                      <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                      <div class="services-list">
                          <div class="row">
                              <div class="col-sm-6 col-md-4 col-md-4">
                                  <div class="service-block" style="visibility: visible;">
                                      <div class="ico fa fa-magic highlight"></div>
                                      <div class="text-block">
                                          <div class="name">Admin</div>
                                          
                                        <div class="text">
                                            <p>•&nbsp;Allow for create Users</p>
                                            <p>•&nbsp;Allow for create Account</p>
                                            <p>•&nbsp;Allow for create Policy</p>
                                            <p>•&nbsp;Allow for view Policy</p>
                                            <p>•&nbsp;Allow for Claim Creation</p>
                                            <p>•&nbsp;Allow for view Claim</p>    
                                        </div>
        
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-6 col-md-4 col-md-4">
                                  <div class="service-block" style="visibility: visible;">
                                      <div class="ico fa fa-code highlight"></div>
                                      <div class="text-block">
                                          <div class="name">Agent</div>
                                         
                                        <div class="text">
                                            <p>•&nbsp;Allow for create Account</p>
                                            <p>•&nbsp;Allow for create Policy</p>
                                            <p>•&nbsp;Allow for view Policy</p>
                                            <p>•&nbsp;Allow for Claim Creation</p>
                                            <p>•&nbsp;Allow for view Claim</p>    
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-6 col-md-4 col-md-4">
                                  <div class="service-block" style="visibility: visible;">
                                      <div class="ico fa fa-pencil highlight"></div>
                                      <div class="text-block">
                                          <div class="name">Insured</div>
                                          
                                        <div class="text">
                                            <p>•&nbsp;Allow for view Policy</p>
                                            <p>•&nbsp;Allow for Claim Creation</p>
                                            <p>•&nbsp;Allow for view Claim</p>    
                                        </div>
                                      </div>
                                  </div>
                              </div>
               </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </div>                    
 
</body>

    <footer><strong>This site is copyright &copy; to Capgemini.                           
        All rights are reserved here ..!</strong>
    </footer>
 
  