<body class="view-policy">
  <div class="col-lg-12">													
    <h2> Policy Details</h2>													
    <br/>													
  
    <br/><br/>													
    <table class="table table-borderless table-hover ">													
      <thead class="bg-primary"> 													
      <tr> 													
        <th>S.No.</th>
        <th>Policy Number</th>													
        <th>Policy Premium </th>													
        <th>Account Number</th>			
        <!-- <th>Claim Creation</th>	 -->
      </tr>													
      </thead>													
      <tbody class="table-primary">		
                              
      <tr *ngFor="let p of policy">													
        <td></td>
        <td>{{p.id}}</td>													
        <td>{{p.policyPremium  }}</td>													
        <td>{{p.accountNumber }}</td>		
        <!-- <td><a [routerLink]="['/admin/createclaim',p.id]" class="btn btn-info">CREATE CLAIM </a> </td>	 -->
        <!-- <td><button onclick="myFunction(p.id)" class="btn btn-info" id="claim-click">Create Claim</button></td>	 -->
       
            
                    
          </tr>													
      <tr *ngIf="!policy || policy.length==0">													
        <th colspan="5">													
          <p class="text-right text-danger">Sorry No Policy Details Available</p>													
        </th>													
      </tr>												
      </tbody>													
    </table>													
  </div>
  </body>